<!DOCTYPE html>
{% load static %}

{% block titlename %}
Index Page
{% endblock titlename %}

{% block header %}
<div class="header">
  <div class="navigation">
    <div class="nav-1">
      <div class="logo">
        <img src="/static/images/4.png" alt="">
      </div>
      <div class="nav">
        <a href="ocupy .html">Home</a>
        <a href="about.html">About</a>
        <a href="">Activities</a>
        <a href="">Careers</a>
        <a href="">Volunteer</a>

        <div class="line"></div>
      </div>
      <div class="div">
        <div class="rotate">
          Donate
        </div>
      </div>
    </div>
    <div class="feed">
      <div class="feeding">
        <span class="fed">Providing a holistic education</span> <span class="ove">over 1000+ young people
        </span> in Africa today!
        <div class="today">
          Today we are scaling across Africa, <span class="of">setting up learning institutions and</span> feeding
          over 1000+ young people.
        </div>
      </div>
    </div>

    <button id="button" class="mdc-button--raised">
      <span class="mdc-button__label">Donate Today
    </button>
    <div class="invol">
      <div class="card-1">
        <div class="green">
          Get Involved
        </div>
        <div class="involved">
          INVOLVED IN A CHARITY EVENT CAN BE A BENEFICIAL RELATIONSHIP
        </div>
        <div class="table">
          <div class="tb-1">
            <div class="tb-tb-1">
              Countries 2
            </div>
            <div class="tb-tb-2">
              Young people 1000+
            </div>
          </div>
          <div class="tb-2">
            <div class="tb-tb-3">
              Institutions - 3 with over 500+ students
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock header %}


{% block main-content %}
<div class="black-1">
  <div class="black-2"></div>
  <div class="black-2"></div>
</div>

<div class="section">
  <div class="stem">
    <div class="title">
      STEM EDUCATION
    </div>
    <div class="edu">
      Transforming Africa through a <span class="hol">holistic STEM academic
        curriculum</span> based on sound biblical values
    </div>
    <div class="all-don">
      <div class="dona">
        <div class="two-car">
          <div class="car-1">
            <div class="icon">
              <img src="/static/images/donate.png">
            </div>
            <div class="giv">
              <div class="give">
                Give Donation
              </div>
              <div class="words">
                Giving towards this great cause, gives many young people a bright holistic feature.
              </div>
            </div>
          </div>
          <div class="car-2">
            <div class="den">DONATE</div>
            <!-- <div class="den">TODAY</div> -->
          </div>
        </div>

        <div class="two-car">
          <div class="car-1"></div>
          <div class="car-2"></div>
        </div>
      </div>
      <div class="im">
        <img src="/static/images/comp.jpg">
      </div>

    </div>
  </div>

  <div class="cha">
    <div class="char">
      <div class="chari">
        PROGRAMS
      </div>
      <div class="res">
        It is our responsibility to inform you our partners
        today how you have changed the young african community
      </div>
    </div>
    <div class="new">
      <div class="new-all">
        <div class="pass">
          <div class="icon-2">

          </div>
          <br>
          We ar reaching to young children giving them both education and feeding many young people
          in Africa. Thanks to you our partners who have made us be able to reach to thousand of young people
          today. Many young people are glad that they have been able to get access to STEM Education today and this
          has put a smile on their faces and
          given joy in their hearts.
        </div>
        <div class="card-1-t">
          <img src="/static/images/occupy.jpg">
          <div class="txt">
            <div class="tit">
              Reach Out
            </div>
            <div class="reach">
              We are reaching to young children giving them both education and feeding.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="new-1">
      <div class="new-all-1">
        <div class="card-2-t">
          <img src="/static/images/occupy.jpg">
          <div class="txt-1">
            <div class="tit-1">
              Reach Out
            </div>
            <div class="reach-1">
              We are reaching to young children giving them both education and feeding.
            </div>
          </div>
        </div>
        <div class="pass-1">
          <div class="icon-2">

          </div>
          <br>
          We ar reaching to young children giving them both education and feeding many young people
          in Africa. Thanks to you our partners who have made us be able to reach to thousand of young people
          today. Many young people are glad that they have been able to get access to STEM Education today and this
          has put a smile on their faces and
          given joy in their hearts.
        </div>
      </div>
    </div>

    <div class="new">
      <div class="new-all">
        <div class="pass">
          <div class="icon-2">

          </div>
          <br>
          We ar reaching to young children giving them both education and feeding many young people
          in Africa. Thanks to you our partners who have made us be able to reach to thousand of young people
          today. Many young people are glad that they have been able to get access to STEM Education today and this
          has put a smile on their faces and
          given joy in their hearts.
        </div>
        <div class="card-1-t">
          <img src="/static/images/occupy.jpg">
          <div class="txt">
            <div class="tit">
              Reach Out
            </div>
            <div class="reach">
              We are reaching to young children giving them both education and feeding.
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock main-content %}