<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/occupy.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="/static/css/boot/bootstrap.min.css"> -->


    <title>About Us</title>
</head>

<body>
    <div class="header" style="margin-bottom: 30px;">
        <div class="navigation">
            <div class="nav-1">
                <div class="logo">
                    <img src="/static/images/4.png" alt="">
                </div>
                <div class="nav">
                    <a href="{% url 'mainsite:index' %}">Home</a>
                    <a class='active' href="{% url 'mainsite:about_page' %}">About</a>
                    <a href="{% url 'mainsite:activities' %}">Activities</a>
  

                    <div class="line"></div>
                </div>
                <div class="div">
                    <div class="rotate">
                        Donate
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feeding">
                    <span class="fed">Providing a holistic education</span> <span class="ove">over 1000+ young people
                    </span> in Africa today!
                    <div class="today">
                        Get to Know more about us
                    </div>
                </div>
            </div>

            <button id="button" class="mdc-button--raised">
                <span class="mdc-button__label"><a href="https://ravesandbox.flutterwave.com/donate/zsqnkklxpbsa">Donate Today</a>
            </button>
            <div class="invol">
                <div class="card-1">
                    <div class="green">
                        About Us
                    </div>
                    <div class="involved">
                        We are an organization that looks giving a holistic learning to the young generation in Africa, providing hope to the hopeless 
                        with some of the methodologies that are applicable for E-learning.
                    </div>

                </div>
            </div>
        </div>
    </div>

 


    <!-- first part  -->
    <section class="about-us-part">
        <div class="container">

            <div id="center-1"  class="row center about-hearder">
                <h4>Vision</h4>

                <p>
                    To expand the kingdom of God through a holistic Education.
                </p>
            </div>
            <div id="center-1" class="row center about-hearder">
                <h4>Mission </h4> 

                <p>
                    Establishment of institutions of learning and hanger alleviation through charity
                </p>
            </div>
        </div>
        <div class="col m7 l7 s12">
            <div class="slider">
                <img id="sild" src="/static/images/occupy1.jpg"> 
            </div>
        </div>
    </section>
    <div id="row-1" class="row">
        <div id="text-4" class="col m5 l5 s12">
            <span class="text-muted"><b> What we Do</b></span>
            <p>
                We are an organization that looks giving a holistic learning to the young generation in Africa, providing hope to the hopeless 
                with some of the methodologies that are applicable for E-learning.
            </p>
            <p>
                We also look at feeding thousands of young people providing a smile to lots of the individuals
            </p>
        </div>
    </div>

    <script>
        const slider = document.querySelector('slider');
        M.slider.init(slider, {
            indicators: false,
            height: 500,
            transition: 500,
            interval: 6000
        })
    </script>




    <script src="/static/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

</body>

</html>