<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/occupy.css' %}">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <title>{% block titlename %}

        {% endblock titlename %}</title>
</head>

<body>
    <!-- this is the nav bar of the different pages  -->
    {% block header %}

    {% endblock header %}

    <!-- this is where the main content of the different pages goes  -->
    {% block main-content %}

    {% endblock main-content %}

    <footer class="footer">
        <div class="background">
            <div class="cont">
                Contuct us via
            </div>
            <div class="numbr">
                +256 756 722263
            </div>
            <div class="numbr">
                Gmail: nestachrist5@gmail.com
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</body>

</html>